$base-black:#191919;
$base-white:#fff;

.header {
  display: none;
}

.f-text-box{
  display: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: $base-black;
  position: relative;

  nav {
    display: flex;
    width: 100%;
    height: 100px;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;

    .logo {
      margin: 0 100px 0 36px;

      img {
        width: 77px;
        height: 77px;
      }
    }
  }

  .header-flex {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;

    .nav-links {
      padding-bottom: 15px;

      ul {
        display: flex;
        align-items: center;

        a {
          font-size: 12px;
          font-weight: 600;
          display: block;
          padding: 0 15px;
          letter-spacing: 1.5px;
          text-transform: uppercase;

          &:hover {
            border-radius: 8px;
            background-color: $base-white;
            color: $base-black;
          }
        }
      }
    }

    .header-search {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      margin-top: 15px;
      margin-right: 55px;

      .search {
        margin-right: 40px;
        position: relative;

        span {
          position: absolute;
          top: 4px;
          left: 13px;
        }

        input {
          width: 250px;
          height: 25px;
          border: none;
          border-radius: 12.5px;
          padding-left: 40px;
          background-color: #eee;
          transition: width .5s;
        }

        .quick-links {
          position: absolute;
          z-index: 100;
          bottom: -1px;
          transform: translateY(100%);
          width: 100%;
          background-color: $base-white;
          display: flex;
          flex-direction: column;
          border: 1px solid #eee;
          text-align: left;
          padding: 10px 0;
          display: none;

          p {
            text-transform: uppercase;
            color: #ccc;
            padding-left: 10px;
          }

          .quick-links-bd {
            a {
              color: $base-black;
              display: block;
              padding: 10px;

              &:hover {
                background-color: #ccc;
              }
            }
          }
        }
      }

      .mall {
        height: 25px;
        line-height: 25px;
        color: $base-white;
        padding-right: 20px;
        vertical-align: middle;

        a {
          font-size: 14px;

          &:hover {
            opacity: .7;
          }

          span {
            padding: 0 4px;
          }
        }
      }
    }
  }

  .detail-links {
    display: none;
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: $base-black;
    z-index: 20;
    overflow: hidden;

    .detail-link-item {
      display: flex;
      max-width: 1280px;
      padding-left: 250px;
      height: 100%;
      margin: auto;
      display: none;

      ul {
        margin: 30px 0 70px 0;
        font-size: 12px;
        font-weight: 400;
        color: $base-white;
        letter-spacing: 2px;
        width: 33.33%;
        padding-left: 10px;
        border-left: .5px solid rgba($color: #fff, $alpha: .2);

        li {
          margin-bottom: 25px;

          a:hover {
            opacity: .5;
          }
        }
      }

    }
  }
}

main {
  .story {
    padding-top: 37%;
    position: relative;

    .text-box {
      position: absolute;
      text-align: center;
      top: 30%;
      right: 10%;
      width: 40%;
      background: transparent;

      h1 {
        font-size: 48px;
        line-height: 48px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -1px;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 46px;
        line-height: 46px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -1px;
        margin-bottom: 20px;
      }

      .learn-more {
        margin: 40px 0 20px 0;

        a {
          background-color: #242424;
          color: #f8f8f8;
          padding: 10px 35px;
          border-radius: 20px;
          font-weight: 700;

          &:hover {
            color: #242424;
            background-color: #f8f8f8;
          }
        }
      }

      p {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  .s1 {
    padding-top: 40%;
    background: url(../uploads/1.jpeg) no-repeat;
    background-size: cover;
  }

  .s2 {
    background: url(../uploads/2.jpeg) no-repeat;
    background-size: cover;

    .text-box {
      h2 {
        font-size: 24px;
        letter-spacing: 2px;
      }
    }
  }

  .s3 {
    background: url(../uploads/3.jpeg) no-repeat;
    background-size: cover;

    .text-box {
      position: absolute;
      text-align: center;
      left: 10%;

      h2 {
        font-size: 24px;
        letter-spacing: 2px;
      }
    }
  }

  .s4 {
    background: url(../uploads/4.jpeg) no-repeat;
    background-size: cover;

    .text-box {
      h2 {
        font-size: 24px;
        letter-spacing: 2px;
      }
    }
  }

  .s5 {
    background: url(../uploads/5.jpeg) no-repeat;
    background-size: cover;

    .text-box {
      position: absolute;
      text-align: center;
      left: 10%;

      h1,
      h2 {
        color: $base-white;
      }

      h2 {
        font-size: 24px;
        letter-spacing: 2px;
      }

      .learn-more {
        a {
          background-color: #f8f8f8;
          color: #242424;

          &:hover {
            background-color: #242424;
            color: #f8f8f8;
          }
        }
      }
    }
  }

  .s6 {
    background: url(../uploads/6.jpeg) no-repeat;
    background-size: cover;

    .text-box {
      top: 10%;

      h1,
      h2 {
        color: $base-white;
      }

      h2 {
        font-size: 32px;
      }

      .text-bg {
        img {
          width: 90%;
        }
      }

      .learn-more {
        a {
          background-color: #f8f8f8;
          color: #242424;

          &:hover {
            background-color: #242424;
            color: #f8f8f8;
          }
        }
      }
    }
  }

  .panel {
    position: relative;
    margin-bottom: 40px;

    h1 {
      margin: 20px 30px;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pic {
          width: 276px;
          height: 276px;
          padding-top: 50px;
          background-color: #f8f8f8;
          position: relative;

          a {
            display: block;
            text-align: center;

            img {
              width: 72%;
            }
          }

          .circle {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 30px);
            opacity: 0;

            li {
              position: relative;
              float: left;
              height: 16px;
              width: 16px;
              border: 1px solid transparent;
              border-radius: 50%;
              background-color: black;

              &::after {
                position: absolute;
                content: " ";
                width: 22px;
                height: 22px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 1px solid #666;
                border-radius: 50%;
                padding: 1px;
              }
            }
          }
        }

        .info {
          width: 276px;
          padding: 5px;

          .info-hd {
            .name {
              font-size: 15px;
              font-weight: 600;
              letter-spacing: .5px;
            }

            span {
              font-size: 13px;
              color: #666;
            }
          }

          .price {
            text-align: right;
            color: #181818;
          }
        }
      }
    }
  }

  .notice {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $base-white;

    p {
      font-size: 16px;
    }

    .learn-more {
      margin-top: 30px;

      a {
        background-color: #242424;
        color: #f8f8f8;
        padding: 10px 35px;
        border: 1px solid #242424;
        border-radius: 20px;
        font-weight: 700;

        &:hover {
          color: #242424;
          background-color: #f8f8f8;
        }
      }
    }
  }
}

footer {
  background-color: #000;

  .footer-share {
    background-color: #191919;

    .wapper {
      height: 96px;
      max-width: 1280px;
      margin: auto;
      display: flex;
      padding: 0 8%;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 28px;
      }

      .media-share {
        a {
          opacity: .4;

          &:hover {
            opacity: 1;
          }

          span {
            padding: 0 15px;
          }
        }
      }

      .email-share {
        a {
          font-size: 14px;
          opacity: .4;

          &:hover {
            opacity: 1;
          }

          span {
            padding-left: 5px;
          }
        }
      }
    }
  }

  .footer-container {
    .about-links {
      max-width: 1280px;
      margin: auto;
      padding: 0 8%;
      display: flex;

      .bose-link {
        width: 33.33%;
        margin: 60px 0;

        li {
          margin-bottom: 10px;

          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }

        &:nth-child(1) {
          color: $base-white;
          font-size: 12px;
          letter-spacing: 1.5px;
          font-weight: 700;
        }

        &:nth-child(n+2) {
          a {
            color: #8c8c8c;
            font-size: 13px;
          }

        }
      }
    }

    .copyright {
      max-width: 1280px;
      padding: 0 8%;
      height: 106px;
      margin: auto;
      display: flex;

      a {
        img {
          width: 106px;
          height: 106px;
          margin-right: 50px;
        }
      }

      .copyright-text {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-top: 1px solid #333;

        p {
          color: $base-white;
          font-size: 12px;
          color: #8c8c8c;
        }
      }
    }
  }
}

.detail-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0vh;
  z-index: 1000;
  background-color: $base-black;
  overflow: scroll;
  &::-webkit-scrollbar{
    display:none;
  }
  .menu-hd{
    padding: 15px;
    span{
      color: $base-white;
      font-size: 36px;
      cursor: pointer;
    }
    .input-area{
      height: 40px;
      margin-top: 15px;
      position: relative;
      span{
        position: absolute;
        top: 5px;
        left: 10px;
        color: #ccc;
        font-size: 28px;
        cursor: pointer;

      }
      input{
        width: 100%;
        height: 40px;
        padding-left: 45px;
        background-color: #f8f8f8;
        border-radius: 20px;
      }
    }
  }
  .menu-bd{
    ul{
      padding: 20px;
      margin-top: 50px;
      background-color: #262626;
      li{
        width: 100%;
        a{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 57px;
          font-weight: 700;
          letter-spacing: 1px;
          border-bottom: .3px solid rgba($color: #aaa, $alpha: .3);
          
        }
        span{
          color: #fff;
        }
        ol{
          height: 0;
          overflow: hidden;
          transition: height .3s;
          li{
            a{
              font-size: 12px;
              border: none;
              font-weight: 400;
              height: 37px;
              &:hover{
                opacity: .5;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:1279px) {

  // 隐藏原header
  header {
    display: none;
  }

  .header {
    display: block;
    width: 100%;
    height: 105px;
    background-color: $base-black;
    position: relative;

    nav {
      display: flex;
      align-items: center;

      .menu {
        height: 105px;
        width: 105px;
        color: $base-white;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-size: 36px;
          cursor: pointer;
        }
      }

      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
          height: 105px;
        }
      }
    }

  }

  main {
    .story {
      .text-box {
        h1,
        h2 {
          font-size: 28px;
          margin-bottom: 10px;
          line-height: 28px;
        }
        .learn-more{
          margin: 40px 0 20px 0;
        }
      }
    }

    .s2,
    .s3,
    .s4,
    .s5 {
      .text-box{
        h2{
          font-size: 16px;
        }
      }
    }

    .s6{
      .text-box{
        h2{
          font-size: 24px;
        }
      }
    }

    .panel{
      .container{
        .item{
          width: 50%;
          margin-bottom: 30px;
          .pic{
            width: 256px;
            height: 256px;
          }
          .info{
            width: 256px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:1023px){
  main{
    .f-text-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 210px;
      padding-top: 30px;
      background-color: #f8f8f8;

      h1{
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      h2{
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;
      }

      .learn-more {
        margin: 40px 0 20px 0;

        a {
          background-color: #242424;
          color: #f8f8f8;
          padding: 10px 35px;
          border-radius: 20px;
          font-weight: 700;

          &:hover {
            color: #242424;
            background-color: #f8f8f8;
          }
        }
      }
    }

    .f5{
      background-color: #242424;
      h1,
      h2 {
        color: $base-white;
      }

      .learn-more {
        a {
          background-color: #f8f8f8;
          color: #242424;

          &:hover {
            background-color: #242424;
            color: #f8f8f8;
          }
        }
      }
    }

    .story{
      padding-top: 47%;
      .text-box{
        display: none;
      }
    }
  }
}

@media screen and (max-width :767px){
  .header{
    height: 70px;
    nav{
      .menu{
        height: 70px;
        width: 70px;
        span{
          font-size: 28px;
        }
      }

      .logo{
        img{
          height: 60px;
        }
      }
    }
  }

  main{
    .panel{
      .container{
        .item{
          width: 100%;
        }
      }
    }
  }

  footer{
    .footer-container{
      .about-links{
        flex-direction: column;
        padding:0 4%;
        .bose-link{
          li{
            margin-bottom: 20px;
          }
          margin: 10px 0;
          &:nth-child(1){
            font-size: 14px;
            margin-top: 40px;
          }
          &:nth-child(n+2){
            a{
              font-size: 14px;
            }
            
          }
        }
      }
    }
  }
  
}
